*.bak
C:\Users\X60000028\personal\WxMonitoring\WxMonitoring\assets\IS\Packages\WxMonitoring\pub\elk\logstash\startLogstash.cmd
C:\Users\X60000028\personal\WxMonitoring\WxMonitoring\assets\IS\Packages\WxMonitoring\pub\elk\filebeat\startFilebeat.cmd
