.topbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
    border: none;
}

.toptitle {
    font-family: "Arial", "Helvetica", "sans-serif";
    text-align: left;
    color: #333;
    font-size: 11px;
    padding: 1em;
    letter-spacing: 1x;
    vertical-align: top;
}

.saglogo {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 1em;
}

.topmenu {
    text-align: right;
    color: #2D3F59;
    padding: 1em;
    vertical-align: top;
}

.topmenu a { 
    color: #000000; 
    text-decoration: none;
}

.topmenu a:hover { 
    color: #B4C3DA;
}

.topmessage {
    font-weight: bold;
    background-color: #F0F0E0;
    color: #000000;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
