body {
    margin: 8px;
}

td.menuitem:hover {
    background-color: rgb(139, 207, 237);
}

td.menuitem:focus {
    background-color: rgb(8, 153, 204);
}

textarea,
pre {
    -moz-tab-size : 2;
      -o-tab-size : 2;
         tab-size : 2;
}